 html {
     background-color: #FF9241;
 }
 .lib {
    text-align: center;
 }
  
 .inputcontainer {
    display: flex;
    height: 300px;
    margin-bottom: 5px;
  }
  .input-box {
    background-color: #FF8303;
    width: 300px;
    display: block;
    border-radius: 10px;
 }
  .input-line {
    margin-left: 10px;
    margin-top: 20px;
 }
  .input {
    float: right;
    margin-right: 20px;
    border-color: black;
 }
  .submit-book-button {
    margin-top: 50px;
    margin-left: 60px;
 }
  .test-input {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    grid-template-rows: repeat(3, 90px);
    row-gap: 15px;
  }
   .book-preview {
    transform: rotate(-90deg);
  }
  .book-preview-container {
      border-radius: 5px;
      flex-direction: column;
  }
 .modal-container {
    border-radius: 10px;
    display: flex;
    background-color: #FF8303;
    flex-direction: column;
    opacity: 1;
    width: 300px;
    height: 300px;
  }
 .modal-container.show {
    opacity: 1;
    pointer-events: all;
    z-index: 1000;
    position: fixed;
 }
  .modal {
    vertical-align: top;
    display: inline-block;
 }
  .close-modal {
    margin-left: 40px;
 }
  .book-info-modal {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .bottom-checkbox {
    outline-style: inset;
    outline-color: black;
    outline-width: 2px;
  }
  
 
 