.lib {
    text-align: center;
}


.inputcontainer {
    display: flex;
    height: 300px;
}

.input-box {
    background-color: blue;
    width: 300px;
    display: block;
}

.input-line {
    margin-left: 10px;
    margin-top: 20px;
}

.input {
    float: right;
    margin-right: 20px;
    border-color: red;
}

.submit-book-button {
    margin-top: 50px;
    margin-left: 110px;
}

.test-input {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    grid-template-rows: repeat(3, 90px);
    row-gap: 15px;
  }

  .book-preview {
    transform: rotate(-90deg);
  }


  .book-preview-container {
      border-radius: 10px;
      flex-direction: column;
  }


.modal-container {
    background-color: red;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    width: 300px;
    height: 300px;
  }


.modal-container.show {
    opacity: 1;
    pointer-events: auto;
    z-index: 1000; 
	position: fixed;
}

.modal {
    vertical-align: top;
    display: inline-block;
}

.close-modal {
    margin-left: 40px;
}
